<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .container{
            text-align: center;
            margin-top: 100px;
        }
        .row{
            margin: 10px;
        }
    </style>
</head>
<body class="container">
    <h2>LOGIN INFORMATION</h2>
    <form method="POST">
        <div class="row">Username: <input type="text" name="username"></div>
        <div class="row">Password: <input type="text" name="password"></div>
        <button type="submit" class="row">Login</button>

    </form>
    
    
</body>
</html>