
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Registration</title>
    <style>
        .container{
            text-align: center;
            margin-top: 100px;
        }
        .row2{
            margin: 10px;
        }
    </style>
</head>

<body >
    <form method="POST" class="m-4">
        {% csrf_token %} <!--protection token-->
        {{form.as_p}} <!-- Links the form template || .as_p makes the format look better, as paragraph-->
        <button type="submit" class="btn btn-success">Register</button> <!--submits to database-->
        {% if messages %} <!--Use this if statement since message module was used in views.py-->
            {% for message in messages %}
                <div class="messages">{{ message }}</div> <!-- Displays message from views.py-->
            {% endfor %}
        {% endif %}
    </form>
</body>
</html>